{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="/">К списку</a>
                    </div>
                    {% if edited %}
                        <div class="col-12 alert alert-success alert-dismissible fade show" role="alert">
                            Сохранено!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="col-12">
                        {{ form_start(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.originalName) }}

                        <h6>Жанры</h6>
                        <ul class="genres" data-prototype="{{ form_widget(form.genres.vars.prototype)|e('html_attr') }}">
                            {% for genre in form.genres %}
                                <li class=""> {{ form_row(genre.name) }}</li>
                            {% endfor %}
                        </ul>
                        <h6>Актеры</h6>
                        <ul class="actors" data-prototype="{{ form_widget(form.actors.vars.prototype)|e('html_attr') }}">
                            {% for actor in form.actors %}
                                <li class="">{{ form_row(actor.fullName) }}</li>
                            {% endfor %}
                        </ul>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        require([
            'components/all',
            'components/genre',
            'components/actor',
        ]);
    </script>
{% endblock %}
