{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="/add">Добавить</a>
                    </div>
                    <div class="col-12">
                        Список:
                    </div>
                    {%  for movie in movies %}
                        <div class="col-12">
                            <img src="/files/{{ movie.cover }}" height="100px" >
                            {{ movie.name }}
                        </div>
                        <div class="col-12">
                            <a href="/edit/{{ movie.id }}">Править</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}